In [1]:
#!pip install dataprep -q

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('Data/1000000-bandcamp-sales.csv')

In [4]:
# from dataprep.eda import plot, plot_correlation, create_report, plot_missing

In [5]:
# plot(df)

In [6]:
#create_report(df)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 23 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   _id                    1000000 non-null  object
 1   art_url                1000000 non-null  object
 2   item_type              1000000 non-null  object
 3   utc_date               1000000 non-null  float64
 4   country_code           1000000 non-null  object
 5   track_album_slug_text  2237 non-null     object
 6   country                1000000 non-null  object
 7   slug_type              988416 non-null   object
 8   amount_paid_fmt        1000000 non-null  object
 9   item_price             1000000 non-null  float64
 10  item_description       999994 non-null   object
 11  art_id                 764520 non-null   float64
 12  url                    1000000 non-null  object
 13  amount_paid            1000000 non-null  float64
 14  releases               11584 non-null    float64
 15  artist_name            999998 non-null   object
 16  currency               1000000 non-null  object
 17  album_title            356468 non-null   object
 18  amount_paid_usd        1000000 non-null  float64
 19  package_image_id       232708 non-null   float64
 20  amount_over_fmt        119133 non-null   object
 21  item_slug              21742 non-null    object
 22  addl_count             21742 non-null    float64
dtypes: float64(8), object(15)
memory usage: 175.5+ MB

In [8]:
columns_to_drop = ['art_url', 'track_album_slug_text', 'country_code', 'slug_type', 'art_id', 'amount_paid_fmt', 'releases','package_image_id', 'item_slug', 'addl_count']
df_clean = df.drop(columns_to_drop, axis = 1)

In [9]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 13 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   _id               1000000 non-null  object
 1   item_type         1000000 non-null  object
 2   utc_date          1000000 non-null  float64
 3   country           1000000 non-null  object
 4   item_price        1000000 non-null  float64
 5   item_description  999994 non-null   object
 6   url               1000000 non-null  object
 7   amount_paid       1000000 non-null  float64
 8   artist_name       999998 non-null   object
 9   currency          1000000 non-null  object
 10  album_title       356468 non-null   object
 11  amount_paid_usd   1000000 non-null  float64
 12  amount_over_fmt   119133 non-null   object
dtypes: float64(4), object(9)
memory usage: 99.2+ MB

In [10]:
df_clean.amount_over_fmt = df_clean.amount_over_fmt.str.strip() #removing extra spaces

In [11]:
df_clean.amount_over_fmt = df.amount_over_fmt.str[1:] #removing currency type

In [12]:
df_clean.amount_over_fmt = df_clean.amount_over_fmt.str.replace(',', '') #removing the comma that indicates thousands

In [13]:
df_clean.amount_over_fmt = df_clean.amount_over_fmt.replace('', 0)

In [14]:
df_clean.amount_over_fmt = df_clean.amount_over_fmt.fillna(0) #filling Nan with 0s

In [15]:
df_clean.amount_over_fmt = df_clean.amount_over_fmt.astype(float)

In [16]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 13 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   _id               1000000 non-null  object
 1   item_type         1000000 non-null  object
 2   utc_date          1000000 non-null  float64
 3   country           1000000 non-null  object
 4   item_price        1000000 non-null  float64
 5   item_description  999994 non-null   object
 6   url               1000000 non-null  object
 7   amount_paid       1000000 non-null  float64
 8   artist_name       999998 non-null   object
 9   currency          1000000 non-null  object
 10  album_title       356468 non-null   object
 11  amount_paid_usd   1000000 non-null  float64
 12  amount_over_fmt   1000000 non-null  float64
dtypes: float64(5), object(8)
memory usage: 99.2+ MB

In [17]:
import datetime

df_clean['utc_date'] = df_clean['utc_date'].apply(lambda x: datetime.datetime.fromtimestamp(x).strftime('%Y-%m-%d %H:%M:%S'))

In [21]:
df_clean['utc_date']

0         2020-09-10 00:00:03
1         2020-09-10 00:00:05
2         2020-09-10 00:00:05
3         2020-09-10 00:00:06
4         2020-09-10 00:00:09
                 ...
999995    2020-10-02 16:03:29
999996    2020-10-02 16:03:29
999997    2020-10-02 16:03:29
999998    2020-10-02 16:03:29
999999    2020-10-02 16:03:30
Name: utc_date, Length: 1000000, dtype: object

In [20]:
df_clean.to_csv('Data/1000000-bandcamp-sales_cleaned.csv', index=False)